CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore --configuration Release

    - name: Run Tests
      run: dotnet test --no-build --verbosity normal

    - name: Build Docker Image
      run: docker build -t traffic-light-control .
  
  push-to-registry:
    needs: build-test
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Login to GitHub Container Registry
      run: echo ${{ secrets.CR_PAT }} | docker login ghcr.io -u ${{ secrets.GH_USERNAME }} --password-stdin

    - name: Build Image
      run: docker build -t ghcr.io/${{ secrets.GH_USERNAME }}/traffic-light-control:latest .

    - name: Push Image
      run: docker push ghcr.io/${{ secrets.GH_USERNAME }}/traffic-light-control:latest
